.projects {
    height: 1500px;
    background-color: red;
}

.skills {
    height: 100%;
    background-color: green;
    padding: 25px 25px 25px 25px;
}

.about {
    height: 1000px;
    background-color: blue;
}

.icon {
    height: 150px;
    width: 150px;
}

.sectionHeader {
    font-family: Helvetica;
    text-align: center;
    
}